/* 
Group Members: Aiden Ly, Lucas Leung
Date: March 3, 2025
This file styles the page and the UI
*/

#canvasbox {
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 30px;
}

body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(rgb(150, 187, 223), rgb(5, 5, 48));
    height: 120vh;
    overflow: hidden;
}

p {
    color: white;
}

input {
    margin: 10px;
    transition: 0.2s;
}

input {
    font-family: 'Trebuchet MS';
    cursor: pointer;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

input[type="color"] {
    cursor: pointer;
    padding: 0;
    height: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

input:hover {
    background-color: grey;
}

