/* 
Group Members: Aiden Ly, Lucas Leung
Date: March 3, 2025
This file styles the page and the UI
*/

#canvasbox {
    background-color: white;
    margin-bottom: 30px;
}

body {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

input {
    margin: 10px;
    transition: 0.2s;
}

input {
    cursor: pointer;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

input[type="color"] {
    cursor: pointer;
    padding: 0;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

input:hover {
    background-color: grey;
}



